.v-application {
    &.theme--light {
        background-color: map-get($grey, 'lighten-4');
    }
}

a {
    color: map-get($blue, 'darken-1');
    text-decoration: none;
    transition: $primary-transition;

    &:hover {
        color: map-get($blue, 'lighten-1') !important;
    }
}

.v-badge {
    .v-badge--inline &__wrapper {
        display: flex;
        align-items: center;
    }
}
